*.iml
.gradle
.navigation
/app/src/test/
/app/src/main/java/org/skimens/wakeonalarm/MyAnalytics.java
/app/google-services.json
/app/proguard-rules.pro
/app/app-release.apk
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
/gradle
build.gradle
gradlew
gradlew.bat
local.properties
gradle.properties
MedLabApp.iml
settings.gradle